<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>capture_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>image_filtering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>object_segmentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>opencv_exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>read_display_image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>write_image_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B31421211BF4E3D900A41EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B314212C1BF5940400A41EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B31421371BF5A5F000A41EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39F117B1BF440430039422B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3EB23DD1BF3C3D8002C73DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3EB23EB1BF42B9B002C73DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
